@model SkyNet.ViewModels.Account.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="block-reg background-white">
    <h3 class="center">Регистрация нового пользователя</h3>
    <form method="post" asp-controller="Register" asp-action="Register">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="text-muted mb-1">
            ФИО
        </div>
        <div class="row mb-2">
            <div class="col-auto">
                <input class="form-control" asp-for="LastName"/>
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>
            <div class="col-auto">
                <input class="form-control" asp-for="FirstName"/>
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>
            <div class="col-auto">
                <input class="form-control" asp-for="MiddleName"/>
                <span class="text-danger" asp-validation-for="MiddleName"></span>
            </div>
        </div>
        <div class="text-muted mb-1">
            Электронная почта
        </div>
        <div class="row mb-2">
            <div class="col-auto">
                <input class="form-control" asp-for="EmailReg"/>
                <span class="text-danger" asp-validation-for="EmailReg"></span>
            </div>
        </div>
        <div class="text-muted mb-1">
            Дата рождения
        </div>
        <div class="row mb-2">
            <div class="col-auto">
                <input class="form-control" asp-for="Date" min="1" max="31">
                <span class="text-danger" asp-validation-for="Date"></span>
            </div>
            <div class="col-auto">
                <input class="form-control" asp-for="Month" min="1" max="12">
                <span class="text-danger" asp-validation-for="Month"></span>
            </div>
            <div class="col-auto">
                <input class="form-control" asp-for="Year" min="@(DateTime.Now.Year - 100)" max="@(DateTime.Now.Year - 15)">
                <span class="text-danger" asp-validation-for="Year"></span>
            </div>
        </div>
        <div class="text-muted mb-1">
            Пароль
        </div>
        <div class="row mb-2">
            <div class="col-auto">
                <input class="form-control" asp-for="PasswordReg"/>
                <span class="text-danger" asp-validation-for="PasswordReg"></span>
            </div>
            <div class="col-auto">
                <input class="form-control" asp-for="PasswordConfirm"/>
                <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
            </div>
        </div>
        <div class="mb-1">
            <input class="btn btn-success btn-lg w-100" type="submit" value="Регистрация"/>
        </div>
    </form>
</div>