@{
    ViewData["Title"] = "Главная";
}

<div class="row">
    <div class="side">
        Описание самой клёвой соцсети
    </div>
    <div class="main">
        <div class="main">
            <partial name="Register" />
        </div>
        Блок авторизации
    </div>
</div>
