@model SkyNet.ViewModels.Account.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div class="block-reg background-white">
    <div class="text-center mb-3">
        <h2>Впервые с нами?</h2>
    </div>
    <div class="text-center text-muted mb-3">
        Регистрация нового пользователя
    </div>

    <form method="get" asp-controller="Register" asp-action="RegisterPart2">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <input class="form-control" asp-for="FirstName" />
            <span class="text-danger" asp-validation-for="FirstName"></span>
        </div>
        <div class="mb-3">
            <input class="form-control" asp-for="LastName" />
            <span class="text-danger" asp-validation-for="LastName"></span>
        </div>

        <div class="text-left text-muted mb-3">
            Дата рождения
        </div>

        <div class="mb-3">
            <select class="form-control date_control" asp-for="Date" ID="ddlDay">
                <option value="">@Model.Date</option>
            </select>
            <span class="text-danger" asp-validation-for="Date"></span>

            <select class="form-control date_control" asp-for="Month"
                    asp-items="Html.GetEnumSelectList<SkyNet.ViewModels.Months>()"
                    onchange="PopulateDays()" ID="ddlMonth">
                <option value="">@Model.Month</option>
            </select>
            <span class="text-danger" asp-validation-for="Month"></span>

            <select class="form-control date_control" asp-for="Year" ID="ddlYear"
                    asp-items="Enumerable.Range(
                    DateTime.Now.AddYears(-100).Year,
                    DateTime.Now.AddYears(-14).Year -
                    DateTime.Now.AddYears(-100).Year)
                    .Reverse().Select(x=> new SelectListItem(x.ToString(), x.ToString()))"
                    onchange="PopulateDays()">
                <option value="">@Model.Year</option>
            </select>
            <span class="text-danger" asp-validation-for="Year"></span>
        </div>

        <div class="mb-3">
            <input class="btn btn-success btn-lg w-100" type="submit" value="Регистрация" />
        </div>
    </form>

    @Model.Month

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
        function PopulateDays() {
            var ddlMonth = document.getElementById("ddlMonth");
            var ddlYear = document.getElementById("ddlYear");
            var ddlDay = document.getElementById("ddlDay");

            var y = ddlYear.options[ddlYear.selectedIndex].value;
            var m = ddlMonth.options[ddlMonth.selectedIndex].value != 0;

            if (ddlMonth.options[ddlMonth.selectedIndex].value != 0 &&
                ddlYear.options[ddlYear.selectedIndex].value != 0) {

                var dayCount = 32 - new Date(ddlYear.options[ddlYear.selectedIndex].value,
                    ddlMonth.options[ddlMonth.selectedIndex].value - 1, 32).getDate();
                ddlDay.options.length = 0;

                for (var i = 1; i <= dayCount; i++) {
                    AddOption(ddlDay, i, i);
                }
            }
        }

        function AddOption(ddl, text, value) {
            var opt = document.createElement("OPTION");
            opt.text = text;
            opt.value = value;
            ddl.options.add(opt);
        }
    </script>
</div>
